@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
    background-image: url('fondofinal.jpg');
    background-size: 325px;
    background-repeat: repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 270px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #ff3700;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #ff3700;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

body {
    margin: 0;
    padding: 0;
    background: url(../images/fondomio.jpg) center top;
    font-size: sans-serif;
    height: 100vh;
}


.login-box {
    width: 330px;
    height: 400px;
    background: rgba(0, 0, 0, 0.685);
    color: #fff;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box img {
    width: 100px;
    height: 100px;
    border-radius: 110%;
    position: absolute;
    top: -45px;
    left: 115px;
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 15px;
    font-size: sans-serif;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b92d06 ;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
text-align: center;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    text-align: center;
}

.login-box a:hover {
    color: #fff;
}

.form-register {
    width: 390px;
    height: 520px;
    background: rgba(0, 0, 0, 0.685);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    font-size: sans-serif;
  }
  
  .form-register h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-size: sans-serif;

  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-size: 18px;
    color: white;
    font-size: sans-serif;
    
  }
  
  .form-register p {
    height: 12px;
    text-align: center;
    font-size: 12px;
    line-height: 40px;
    font-size: sans-serif;

  }
  
  .form-register a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    font-size: sans-serif;

  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
    font-size: sans-serif;

  }
  
  .form-register .botons {
    width: 100%;
    background: #b92d06 ;
    border: none;
    padding: 12px;
    color: #fff;
    margin: 16px;
    outline: none;
    height: 40px;
    font-size: 18px;
    border-radius: 12px;
    font-size: sans-serif;

  }
